h1{
  color: white;
  font-family: Arial;
  padding: 14px 16px;
  margin-left: 80px;
}
body{
 min-height: 100vh;
 background-size: cover;
}

 .container {
   position: absolute;
   margin: 20px;
   margin-left: 100px;
   width: auto;
   font-family: Arial;


 }
#ueberuns_html{
  background-image: url(https://cdn.pixabay.com/photo/2016/09/28/11/55/cube-1700325_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Arial;
}


 #dasSpiel_html{
 background-image: url(https://cdn.pixabay.com/photo/2015/02/02/20/11/cube-621489_1280.jpg);
 background-repeat: no-repeat;
background-size: cover;
}
#startseite_html{
  background-image: url(https://cdn.pixabay.com/photo/2017/04/15/23/15/yatzy-2233602_1280.jpg);
  background-repeat: no-repeat;
  background-size:  100%;
}


 label{
   margin-left: 100px;
   font-family: arial;
   font-size: 15px;
   color: black;
 }

 .feld{
   font-family: arial;
   font-size: 15px;
   padding: 14px 16px;
   width: 60px;
   height 10px;
 }

#speichern{
  font-family: arial;
  margin-left: 100px;
  font-size: 15px;
  color: black;
}

#name{
  font-family: arial;
  font-size: 15px;
  color: white;
}

 .label{
   color:black;
   float: left;
   width: 150px;
 }


 .topnav {
   overflow: hidden;
   background-color: #333;
 }


 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 .topnav a:hover {
   background-color: #ddd;
   color: black;
}

#fertigbutton{
  width: 150px;
}
.button {
  display: inline;
  padding: 6px 12px;
  border-radius: 6px;
  border: 0;
  font-weight: bold;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  background: grey;
  color: black;
  font-family: Arial;
  text-align: center;
  margin-left: 80px;
}

.button:hover,
.button:focus,
.button:active {
  background: #C0C0C0;
  color: black;
}

.button2 {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 6px;
  border: 0;
  font-weight: bold;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  background: grey;
  color: black;
  font-family: Arial;
  text-align: center;
  margin-left: 250px;
}

.button2:hover,
.button2:focus,
.button2:active {
  background: #C0C0C0;
  color: black;
}

#überuns{
  margin-left: 80px;
  padding: 14px 16px;
}
